@import url(https://fonts.bunny.net/css?family=roboto:100,100i,300,400i,500,900);

:root {
    --main-theme-color: #2976A6; 
    --second-theme-color: #011C26; 
    --light-color: #FFF;
    --font-color: #0A0A0A; 
    --base-padding: 1rem; 
    --base-border-radius: 1.5rem; 

    font-family: 'Roboto', sans-serif;
    max-width: 1920px;
}

.main {
    display: flex;
}