@import url(https://fonts.bunny.net/css?family=roboto:100,100i,300,400i,500,900);

:root {
    --main-theme-color: #275b90; 
    --second-theme-color: #011C26; 
    --light-color: #FFF;
    --font-color: #0A0A0A; 
    --base-padding: 0.5rem; 
    --base-border-radius: 1.5rem; 

    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1920px;
    font-size: 18px;
    color: var(--font-color);
}


.main {
    display: flex;
    padding: var(--base-padding);
}